### Terraform ###
# Local .terraform directories
**/.terraform/*
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

**/.idea
**/.fleet
**/.vscode

**/.env
**/.env.production
test
lambda_function_payload.zip
plan
users/pymysql
users/PyMySQL-1.1.0.dist-info
